form {
    float: left;
    margin: 25px 30px 75px 500px;
    width: 60%;
}

/* this code is from materialize to create a sticky footer https://materializecss.com/footer.html */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .btn {
    display: inherit;
  }

  .background2 {
    background-image: url(../images/smaller\ plates.jpg)
  }
